.container-form{
  margin: 2%;
}
.menu-title{
  display: inline-flex;
  .spacer-titlebar {
    flex: 1 1 auto;
  }
  .button-back{
    margin-right: 2%;
  }
}
.form-add{
  margin: 1% 2%;
}
.button-save{
  text-align: right;
  margin: 1% 3%;
}
.text-description{
  text-align: center;
  width: 95%;
  margin: 1% 2%;
}
